
  body {
    font-family: 'Inter', sans-serif;
    color: #662D90;
    background-color: #dddcdf !important;
    width:100%;
    overflow-x: hidden;
  }
  .containers-fluid{
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .navbar-brand img {
    height: 40px;
    width: 157.16px;
  }
  .navbar-nav .nav-link {
    margin-right: 17px;
    color: #662D90 !important;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 700;
    line-height: 19.36px;
    text-align: left;

  }
  .btn-custom {
    background-color: #662D90 !important;
    color: #fff !important;
    width: 132px;
    height: 40px;
    top: 62px;
    left: 1467px;
    gap: 0px;
    border-radius: 9px !important ;
    opacity: 0px;
    

  }
  .btn-custom:hover {
    background-color: #5a247d;
  }
  h1{
    width: 654px;
    height: 104px;
    top: 389px;
    left: 78px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;
    text-align: left;
    color: #000000;
  }
  .centre{
    position: relative;
    top: 189px;
    /* left: 78px; */
    gap: 0px;
    opacity: 0px;

  }
  p{
    width: 454px;
    /* height: 243px; */
    top: 389px;
    left: 78px;
    gap: 0px;
    opacity: 0px;
    /* font-family: Inter !important; */
    color: #000000;
    font-size: 18px;
    /* font-weight: 200; */
    text-align: left;
  }
.Mockup-image{
  width: 340px;
  height: 606px;
  top: 186px;
  left: 989px;
  gap: 0px;
  opacity: 0px;
}
.header h2{
  font-family: 'Inter';
  font-size: 33px;
  font-weight: 700;
  line-height: 70px;
  text-align:center !important;
  color: #000000;

}
.card{
  height: 250px;
}
.card .card-text {
  font-family: Inter;
font-size: 11px;
font-weight: 300;
line-height: 19.36px;
text-align: left;
}
.card .card-title{
  font-family: Inter;
font-size: 17px;
font-weight: 700;
text-align: left;
color: #000000;
}


/************ Testimonials ************/

/* .wrapper {
  margin: 0 auto;
  max-width: 1152px;
} */

.testimonial-text {
  margin-top: 50px;
}

.testimonial-items {
  display: flex;
  flex-wrap: wrap; /* Ensures items wrap to the next line if there's not enough space */
  justify-content: center; /* Centers items horizontally */
  margin-top: 60px;
  padding-bottom: 20px;
  padding: 70px;
  gap: 20px;
  height: 240px;
 }

.testimonial-item {
  width: calc(50% - 25px); /* Ensures two items per row with some spacing */
  margin-bottom: 25px; /* Adds vertical spacing between items */
  max-width: 310px; /* Limits maximum width of each item */
  padding: 10px 15px 10px 15px;
  
}

@media (max-width: 768px) {
  .testimonial-item {
    width: 100%; /* Full width on smaller screens */
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .testimonial-item {
    width: calc(33.33% - 25px); /* Three items per row on larger screens */
  }
}

.testimonial-item {
  /* border: 2px solid #f53838; */
  /* border: 1px solid #4f5665; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden; /* Ensures the border-radius clips the inner content */
  /* position: relative; */
}






.person-info {
  position: relative; /* Ensure content is above the pseudo-element */
  z-index: 1; /* Lift content above the overlay */
}




.person-icon-ctr {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.person-icon-ctr img{
  width: 40px;
  display: block !important;
}

.person-info-rating {
  display: flex;
  align-items: center;
}

.person-info {
  display: flex;
  align-items: center;
}

.person-name {
  margin: 0;
  color: var(--text-color-dark);
  font-size: 1.1rem;
  font-weight: bolder;
  display: block !important;
}

.person-post {
  margin: 0;
  color: var(--text-color-dark);
  font-size: 13px;
  font-weight: bolder;
}




.person-testimonial {
  margin-top: 20px;
}

.person-testimonial p {
  color: var(--text-color-dark);
  margin: 0;
  font-size: small;
}




